.about-cont {
    background-color: #f5f5f4;
    width: 100%;
    padding-block: 3rem;
}

.about-cont h2 {
    color: #171717;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.about-inner {
    max-width: 1280px;
    padding-inline: 2rem;
    margin: 0 auto;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    overflow: hidden;
    gap: 3rem;
    place-items: center;
    margin-bottom: 3rem;
}
.about-grid img {
    object-fit: contain;
    object-position: center;
}
.about-grid > div > h3 {
    font-size: 1.8rem;
    font-family: serif;
}
.about-grid > div > p {
    color: #71717a;
}

.about-grid:nth-of-type(even) img {
    grid-column: 2 / 3;
    grid-row: 1;
}
.about-grid:nth-of-type(even) div {
    grid-column: 1 /2;
    grid-row: 1;
}

@media screen and (max-width: 1280px) {
    .header-cont {
        padding-block: 17rem;
    }
}
@media screen and (max-width: 860px) {
    .about-cont h2 {
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    .about-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .about-grid img,
    .about-grid:nth-of-type(even) img {
        grid-column: 1;
        grid-row: 2;
    }
    .about-grid div,
    .about-grid:nth-of-type(even) div {
        grid-column: 1;
        grid-row: 1;
    }
}
@media screen and (max-width: 600px) {
    .header-cont {
        padding-block: 11rem;
    }
}
