.header-cont {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../../assets/images/header-bg.jpg) center no-repeat;
    background-size: cover;
    padding-block: 24rem;
    padding-inline: 3rem;
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text {
    text-align: center;
    color: #f5f5f4;
    font-family: sans-serif;
}
.header-text h1 {
    font-size: 4rem;
    filter: drop-shadow(0 5px 20px rgb(0, 0, 0));
    -webkit-filter: drop-shadow(0 5px 20px rgb(0, 0, 0));
    line-height: 1.1;
}
.header-text h3 {
    font-weight: 500;
}

@media screen and (max-width: 1280px) {
    .header-cont {
        padding-block: 17rem;
    }
}
@media screen and (max-width: 860px) {
    .header-cont {
        padding-block: 14rem;
    }
}
@media screen and (max-width: 600px) {
    .header-cont {
        padding-block: 11rem;
    }
}
