@font-face {
    font-family: "Product Sans";
    src: url(./assets/fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: "Product Sans Bold";
    src: url(./assets/fonts/Product\ Sans\ Bold.ttf);
}

/* ===================== CSS Reset & poppins font in body =========================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
html:focus-within {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Product Sans", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
img,
picture {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ====================================== General Styles ====================================== */
/* containers */
.container-lg {
    width: 100%;
}
.ycontainer-md {
    width: 85%;
    margin: 0 auto;
}
.ycontainer-sm {
    width: 73%;
    margin: 0 auto;
}
.container-for-x {
    max-width: 1350px;
    padding-inline: 15px;
    margin: 0 auto;
}
@media (max-width: 1280px) {
    .ycontainer-md {
        width: 90%;
    }
}
@media (max-width: 600px) {
    .ycontainer-sm {
        width: 85%;
    }
}
/* Layouts */
.flex {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
/* font-sizes */
.bold {
    font-family: "Product Sans Bold", sans-serif;
    font-weight: bold;
}
.fs-100 {
    font-size: 0.875rem; /*14px*/
}
.fs-200 {
    font-size: 1rem; /*16px*/
}
.fs-300 {
    font-size: 1.125rem; /*18px*/
    line-height: 26px;
}
.fs-400 {
    font-size: 1.25rem; /*20px*/
}
.fs-500 {
    font-size: 1.5rem; /*24px*/
}
.fs-600 {
    font-size: 1.625rem; /*26px*/
}
.fs-700 {
    font-size: 2.25rem; /*36px*/
    line-height: 1.625rem; /*26px*/
}
.fs-800 {
    font-size: 2.25rem; /*46px*/
    line-height: 1.625rem; /*26px*/
}
.fs-850 {
    font-size: 3.125rem; /*50px*/
}
.fs-900 {
    font-size: 3.5rem; /*56px*/
    line-height: 4.25rem; /*68px*/
}
.fs-950 {
    font-size: 4.125rem; /*66px*/
    line-height: 4.75rem; /*76px*/
}
/* colors */
.clr-white {
    color: #fff;
}
.bg-light {
    background-color: #f6f8f9;
}
.bg-white {
    background-color: #fff;
}
.bg-hr {
    background-color: #ebebeb;
}
.bg-footer {
    background-color: #908b88;
}
.clr-acc {
    color: #c48b60;
}
.bg-acc {
    background-color: #c48b60;
}
.clr-black-main {
    color: #0d152e;
}
.clr-black-light {
    color: #262e36;
}
.clr-black-extralight {
    color: #505046;
}
/* buttons */
.btn-outline {
    border: 1.5px solid #c48b60;
    background-color: #fff;
    color: #c48b60;
}
.btn-contain {
    border: 1.5px solid #c48b60;
    background-color: #c48b60;
    color: #fff;
}
.btn-shadow:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.transition {
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
}
.uplift:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}
